<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMMERCE - @ViewBag.Title </title>
    <!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store "	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="~/Content/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="~/Content//popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="~/Content/css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->


    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Navbar")

    @RenderBody()

    @Html.Partial("_Footer")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!-- jquery -->
    @*<script src="~Scripts/js/jquery-2.2.3.min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~Scripts/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~Scripts/js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- scroll seller -->
    <script src="~Scripts/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    <script src="~Scripts/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~Scripts/js/move-top.js"></script>
    <script src="~Scripts/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~Scripts/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    <script type="text/javascript" language="Javascript">
        $(document).ready(function () {

        });
    </script>
    <script type="text/javascript" language="Javascript">

        function ToggleDiv(addToCart) {

            var clicked = false;
            var hideDiv = document.getElementById('hide' + addToCart);

            var displayHideDiv = hideDiv.style.display;

            var showDiv = document.getElementById('show' + addToCart);

            if (addToCart !== null && addToCart != "") {
                if (displayHideDiv == "block") {

                    hideDiv.style.display = "none";

                    showDiv.style.display = "block";
                    //var qtyUpdate = $('#qtyUpdate').val();
                    //document.getElementById('qtyUpdate').innerHTML = qtyUpdate +1;

                }
            }
        }

    </script>
    <script type="text/javascript" language="Javascript">

        $(document).ready(function () {

        });
        $(document).ready(function () {
            $('.addCart').click(function () {
                var addToCart = $(this).attr("data-id");
                GetAddToCart(addToCart);
                ToggleDiv(addToCart);
                //$.get('/Products/AddCart1', { itemId: addToCart }, function (data) {
                //    alert('1');
                //});
            });

            $('.addQty').click(function () {
                var addQty = $(this).attr("data-id");
                GetAddQuantity(addQty);
            });
            $('.removeQty').click(function () {
                var removeQty = $(this).attr("data-id");
                GetRemoveQuantity(removeQty);
            });
        });

        //var itemId = $("#itemId").val();
        function GetAddToCart(addToCartId) {
            $.ajax({
                type: "POST",
                url: '/Electronics/AddCart1',
                data: { itemId: addToCartId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        //alert("success");
                        var spanId = document.getElementById('bedgeSpan');
                        spanId.innerHTML = data.CartItemCount;

                        var spanQuantity = document.getElementById('qtyUpdate' + data.ItemId);
                        //spanQuantity.innerHTML = data.ItemCount;
                        //spanQuantity.val(data.ItemCount);
                        spanQuantity.value = data.ItemCount;
                    }
                    //else {
                    //    alert("Fail");
                    //}
                },
                error: function (xhr) {
                    //debugger;
                    console.log(xhr.responseText);

                }
            });
        };

        //Add Quantity
        function GetAddQuantity(addQtyId) {
            $.ajax({
                type: "POST",
                url: '/Checkout/AddQuantity',
                data: { id: addQtyId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        var spanId = document.getElementById('bedgeSpan');
                        spanId.innerHTML = data.CartItemCount;

                        var inputId = document.getElementById('qtyUpdate' + data.ItemId);
                        inputId.value = data.ItemCount;
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        };

        //RemoveQuantity

        function GetRemoveQuantity(removeQtyId) {
            $.ajax({
                type: "POST",
                url: '/Checkout/RemoveQuantity',
                data: { id: removeQtyId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        var spanId = document.getElementById('bedgeSpan');
                        spanId.innerHTML = data.CartItemCount;

                        var inputId = document.getElementById('qtyUpdate' + removeQtyId);
                        inputId.value = data.ItemCount;

                        if (data.ItemCount == 0) {
                            var hideDiv = document.getElementById('hide' + removeQtyId);
                            var showDiv = document.getElementById('show' + removeQtyId);

                            hideDiv.style.display = "block";
                            showDiv.style.display = "none";

                        }
                    }
                },
                error: function (xhr) {
                    //debugger;
                    console.log(xhr.responseText);
                }
            });
        };

    </script>

    <!-- js-files -->

    @RenderSection("scripts", required: false)
</body>
</html>
